<button class="block font-bold {{if this.isActive @activeClass}}" ...attributes type="button" {{on 'click' this.navigate}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@title}}
  {{/if}}
</button>