{{#if @tagName}}
  {{#let @tagName as |Tag|}}
    <Tag id={{@hash}} ...attributes {{did-insert this.setupInViewport}}>{{yield}}</Tag>
  {{/let}}
{{else}}
  <div id={{@hash}} ...attributes {{did-insert this.setupInViewport}}>{{yield}}</div>
{{/if}}